.delete-productimage-button {
    background-color: rgb(122, 120, 120, 0.2);
    margin: 10px;
    font-family: "Logo", sans-serif;
    color: var(--color-1);
    float: right;
    border-radius: 100%;
    width: 70px;
    height: 65px;
    border: transparent;
    margin-right: 40%;
}

.delete-productimage-button:hover {
    color: var(--color-2);
    border: none;
    transform: scale(1.3);
}

#productimage-trash-icon {
    color: var(--color-1);
    font-size: 30px;
}

#productimage-trash-icon:hover {
    color: var(--color-3);
    font-size: 30px;
}

#delete-productimage-tooltip .MuiTooltip-tooltip {
    font-size: 18px;
}

.delete-productimage-check-container {
    float: right;
    font-family: Arial;
    font-weight: bold;
    color: var(--color-3);
    margin-right: 39%;
    text-align: center;
}

.delete-productimage-yes-no-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-productimage-yes-button {
    background-color: transparent;
    color: white;
    font-weight: bold;
    margin-right: 20px;
}

.delete-productimage-yes-button:hover {
    background-color:transparent;
    border: none;
    transform: scale(1.3);
}

.delete-productimage-no-button {
    background-color: transparent;
    color: white;
    font-weight: bold;
}

.delete-productimage-no-button:hover {
    background-color: transparent;
    border: none;
    transform: scale(1.3);
}

#x-icon {
    font-size: 40px;
    color: var(--color-1);
}

#x-icon:hover {
    color: var(--color-2);
}

#check-icon {
    font-size: 40px;
    color: var(--color-3);
}

#check-icon:hover {
    color: #f74799;
}