@font-face {
    font-family: "Logo";
    src: url("/src/fonts/eras.TTF") format("truetype");
  }

.logout_button {
    background-color:  #352473;
    margin: 10px;
    font-family: "Logo", sans-serif;
    color: #fafafa
  }
  
.logout_button:hover {
    background-color: #724FC3;
    border: #D90D6C solid;
  }