@font-face {
    font-family: "Logo";
    src: url("/src/fonts/eras.TTF") format("truetype");
  }

  .logout_button {
    background-color:  #352473;
    margin-right: 10px;
    font-family: "Logo", sans-serif;
    color: #fafafa;
    font-size: 17px;
  }
  
  .logout_button:hover {
    background-color: #724FC3;
    border: var(--color-3) 2px solid;
  }