@font-face {
  font-family: "Logo";
  src: url("/src/fonts/eras.TTF") format("truetype");
}

.marketplace {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 2%;
  justify-content: center;
  position: relative;
}

.product {
  width: 350px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #dddfe2;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

.product:hover {
  transform: scale(1.1);
}

.product_header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  align-items: center;
  margin-bottom: 10px;
}


.product_name {
  font-size: 28px;
  line-height: 1.6;
  color: var(--color-1);
  font-weight: bold;
  font-family: 'Logo';
  text-transform: capitalize;
  margin-bottom: 0%;
  max-width: 20rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product_price {
  font-size: 25px;
  line-height: 1.6;
  color: #1c1e21;
  font-family: 'Logo';
}

.product_rating {
  font-size: 18px;
  line-height: 1.6;
  color: var(--color-2);
  text-align: center;
}

.product_images {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  overflow: hidden;
}

.product_image {
  max-width: 95%;
  object-fit: contain;
  border-radius: 5%;
  max-block-size: -webkit-fill-available;
}