.payment-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 42rem;
    width: auto;
    margin: 10px;
    padding: 10px;
    border: 1px solid #dddfe2;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

.payment-summary,
.payment-methods {
    width: 45%;
}

.payment-heading {
    font-size: 1.8rem;
    margin-bottom: 15px;
    font-family: 'Lucida';
    font-weight: bolder;
}

.total-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5%;
    font-family: 'Logo';
    font-size: 30px;
}

.total-label {
    color: var(--color-2);
}

.total-amount {
    color: black;
    font-size: 35px;
}

.payment-options {
    color: var(--color-2);
    font-family: 'Arial';
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.payment-option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 30px;
}


.payment-option:hover {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    color: var(--color-1);
    text-decoration: underline;
}

.payment-option.active {
    color: var(--color-3)
}


.card-form {
    margin-top: 20px;
}

.card-label {
    margin-bottom: 5px;
}

.card-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fafafa;
    color: black;
    margin-bottom: 10px;
}

.payment-icon {
    font-size: 2.2rem;
    margin-right: 10px;
}

.payment-text {
    font-size: 1.2rem;
}

.payment-card-form {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.pay-card-button {
    margin-top: 1%;
    background-color: var(--color-1);
    color: white;
    font-family: 'Logo';
    border-radius: 20%;
}

.pay-card-button:hover {
    background-color: var(--color-2);
    border: var(--color-3) 2px solid;
}

.vertical-line {
    border-left: 3px solid #dddfe2;
    height: 90%;
    margin-top: 1.5%;
}

.balam-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.balam {
    width: 30%;
    margin-top: 7%;
}