@font-face {
    font-family: "Logo";
    src: url("/src/fonts/eras.TTF") format("truetype");
}

@font-face {
    font-family: "Lucida";
    src: url("/src/fonts/lucida.TTF") format("truetype");
}

@font-face {
    font-family: "Slogan";
    src: url("/src/fonts/mystical.TTF") format("truetype");
}

.post-product-container {
    height: 50%;
    width: auto;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border: 1px solid #dddfe2;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

.post-product-title {
    font-family: 'Slogan';
    font-size: 30px;
    margin-bottom: 20px;
    color: var(--color-2);
    text-align: center
}

.form-group {
    margin-top: 1%;
    margin-left: 3%;
}

.form-group label {
    font-family: 'Logo';
    font-size: 20px;
    margin-bottom: 20px;
    color: var(--color-1);
}

.form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fafafa;
    color: black;
    width: 10rem;
    margin-left: 1%;
}

.form-group textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fafafa;
    color: black;
    width: auto;
    margin-left: 1%;
    font-family: Arial;
}

#product_name,
#image {
    width: 60%;
}

#description {
    width: 60%;
    min-height: 120px;
    font-size: 1.25rem;
}

.post-button {
    background-color: var(--color-1);
    margin: 10px;
    font-family: "Logo", sans-serif;
    color: #fafafa;
    float: right;
    border-radius: 100%;
    width: 70px;
    height: 65px;
}

.post-button:hover {
    background-color: var(--color-2);
    border: none;
    transform: scale(1.3);
}

#post-new-product {
    color: white;
    font-size: 30px;
}

#post-new-product:hover {
    color: white;
    font-size: 30px;
}

#post-tooltip .MuiTooltip-tooltip {
    font-size: 18px;
}