@font-face {
    font-family: "Logo";
    src: url("/src/fonts/eras.TTF") format("truetype");
  }

  @font-face {
    font-family: "Slogan";
    src: url("/src/fonts/lucida.TTF") format("truetype");
  }

  .reviews-container {
    height: 50%;
    width: auto;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border: 1px solid #dddfe2;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  }
  
  .review-display {
    width: auto;
    margin: 5px;
    padding: 10px;
    border: 1px solid #dddfe2;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  }
  
  .reviews-title {
    font-size: 28px;
    line-height: 1.6;
    color: var(--color-2);
    font-weight: bold;
    font-family: 'Slogan';
    text-transform: capitalize;
    margin-bottom: 0%;
  }
  
  .product_price {
    font-size: 25px;
    line-height: 1.6;
    color: #1c1e21;
    font-family: 'Logo';
  }
  
  .product_rating {
    font-size: 18px;
    line-height: 1.6;
    color: var(--color-2);
    text-align: center;
  }