@font-face {
  font-family: "Slogan";
  src: url("/src/fonts/lucida.TTF") format("truetype");
}

@font-face {
  font-family: "Logo";
  src: url("/src/fonts/eras.TTF") format("truetype");
}

* {
  margin: 0px;
}

.app {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the app takes up at least the height of the viewport */
}

.app_posts {
  padding: 20px;
  flex: 1; /* Make the posts section flexible to take up remaining space */
}

.app_header {
  position: sticky;
  display: flex;
  top: 0;
  z-index: 1;
  background-color: white;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.app_header_image {
  object-fit: contain;
  width: 220px;
}



.register {
  background-color:  #352473;
  margin: 10px;
  font-family: "Logo", sans-serif;
  
}

.register:hover {
  border: #D90D6C solid;
  background-color: #724FC3;
}

.footer {
  background-color: #352473;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: auto; /* Pushes the footer to the bottom of the page */
  font-family: "Slogan", sans-serif;
}

.footer nav {
  flex: 1;
  display: flex;
  justify-content: center;
}

.footer a {
  color: #fff;
  margin: 0 40px; /* Add spacing between links */
  
}

.footer a:hover {
  text-decoration: underline;
  color: #D90D6C;
}

.footerImgLeft {
  width: 50px;
  margin-right: auto; /* Add margin to the right of the image */
}

.footerImgRight {
  width: 50px;
  margin-left: auto; /* Add margin to the right of the image */
}

.copy {
  font-size: small;
}